<% if (flashMessages.success_msg && flashMessages.success_msg != '') {%>
<div class="alert alert-success h2 "><%= flashMessages.success_msg %></div>
<% } else if (flashMessages.error_msg && flashMessages.error_msg != '') {%>
<div class="alert alert-danger h2"><%= flashMessages.error_msg %></div>
<% } %>
