<% if (flashMessages.success && flashMessages.success != '') {%>
<div class="alert alert-success h2 "><%= flashMessages.success %></div>
<% } else if (flashMessages.error && flashMessages.error != '') {%>
<div class="alert alert-danger h2"><%= flashMessages.error %></div>
<% } %>
