
    <table id="productTable" class="table display table-bordered border border-dark border-2 m-3">
        <thead class="table-dark">
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
            <tr>
                <td>CodeAffiché</td>
                <td>DescriptionAffichée</td>
                <td>PrixAffiché</td>
                <td>Edit-Delete</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Operations</th>
            </tr>
        </tfoot>
    </table>
