<table
  id="productTable"
  class="table display table-bordered border border-dark border-2 m-3"
>
  <thead class="table-dark">
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Price</th>
      <th>Edit / Delete</th>
    </tr>
  </thead>
  <tbody class="table-hover">
    <% products.forEach((product)=> { %>
    <tr>
      <td><%= product.productCode %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td>
        <form action="/edit/<%= product._id %> ">
          <button type="submit">Edit</button>
        </form>
        <button type="button">Delete</button>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
