<table id="productTable" class="table display table-bordered border border-dark border-2 m-3">
    <thead class="table-dark">
    <tr>
    <th>Code</th>
    <th>Description</th>
    <th>Price</th>
    <th>Operations</th>
    </tr>
    </thead>
    <tbody class="table-hover">
      <% products.forEach((product)=> { %>
      <tr>
      <td><%= product.code %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      </tr>
      <% }) %>
      </tbody>
      </table>
   
      