<form class="mt-5 border border-dark border-2 py-3 px-3" action="/new" method="post">
    <h1 class="text-success">Add New Product</h1>
    <div class="form-group mt-2">
            <label for="productCode" class="fw-bold">Code du produit</label>
            <input type="text" placeholder="Entrer le code du produit" class="form-control w-auto" name="productCode" id="productCode">
            <hr class="bg-secondary">
    </div>
    <div class="form-group mt-1">
            <label for="description" class="fw-bold">Description du produit</label>
            <input type="text" placeholder="Entrer la description" class="form-control w-auto" name="description" id="description">
            <hr class="bg-secondary">
    </div>
    <div class="form-group mt-1">
            <label for="price" class="fw-bold">Prix du produit</label>
            <input type="number" placeholder="Indiquer le prix" step="0.01" class="form-control w-auto" name="price" id="price">
            <hr class="bg-secondary">
            
    </div>
    <div class="form-group mt-1 text-center">
    <input id="soumettre" type="submit" value="Add to Database" class="w-auto btn btn-lg btn border border-dark border-2 text-white btn-success mt-2"/>
</div>
</form>
