<h1>Add New Product</h1>
<form class="offset-1 mt-5 row border border-dark border-2 py-3" action="/new" method="post">
    <div class="form-group col-12">
        <div class="row justify-content-center">
            <input type="text" placeholder="Entrer le code du produit" class="form-control w-auto me-3" name="productCode" id="productCode">
            <input type="text" placeholder="Entrer la description du produit" class="form-control w-auto me-3" name="description" id="description">
            <input type="number" placeholder="Entrer le prix du produit" class="form-control w-auto me-3" name="price" id="price">
            <input id="soumettre" type="submit" value="Add to Database" class="w-auto btn btn-success btn-sm mt-2"/>
        </div>
    </div>
</form>
